.dataTables_wrapper{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    .dataTables_filter{
        display: none;
    }
}
.card-header{
    &:after{
        content: unset !important;
    }
}
@import "./adminlte.scss";